* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.section-one, .footer {
    background-color: #1f2937;
    color: white;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

li, a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24%;
}

li, .hero .description {
    color: #e5e7eb;
    font-size: 18px;
}

.nav {
    display: flex;
    gap: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.hero {
    display: flex;
    align-items: center;
    padding: 120px 24%;
    justify-content: space-between;
    gap: 50px;
}

.hero .header,
.hero .description {
    margin: 0;
    padding: 0;
}

.hero .header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero .description {
    margin-bottom: 12px;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 9px 33px;
    font-weight: 800;
}

.left, .right {
    max-width: 50%
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #737a85;
    width: 480px;
    height: 225px;
}

.section-two {
    padding: 0 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin: 50px 0;
}

.square {
    height: 150px;
    width: 150px;
    border: solid 4px #3882f6;
    border-radius: 10px;
}

.subtext {
    color: black;
    font-size: 18px;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 125px;
    padding: 0;
    gap: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 160px;
    gap: 10px;
}

.section-three {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 9% 28.5%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.left-side, .right-side, .section-four {
    display: flex;
}

.section-four {
    justify-content: space-between;
    margin: 6% 24%;
    background-color: #3882f6;
    padding: 2% 5%;
    border-radius: 10px;
}

.left-side {
    flex-direction: column;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
}

.message {
    color: #e5e7eb;
}

.action-signup {
    border: #e5e7eb solid 2px;
}

.footer {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 1.5%;
}